<div id="usrInput">
	<label for="ipTxt"> {{ipLabel}} <input id="ipTxt" name="ipTxt" type="text" name="fname"></label>
	<input type="button" value="Get Info" name="getInfoBtn" id="getInfoBtn" />
</div>
<div id="errMsg" style="visibility:hidden"></div>
<div id="locInfo" style="visibility:hidden">
	<span class="lbl">City: </span><span class="txt" id="cityTxt"></span>
	<span class="lbl">Postal Code: </span><span class="txt" id="postalCodeTxt"></span>
	<span class="lbl">Country: </span><span class="txt" id="countryTxt"></span>
	<span class="lbl">Latitude: </span><span class="txt" id="latTxt"></span>
	<span class="lbl">Longitude: </span><span class="txt" id="longTxt"></span>
</div>
<div id="weatherInfo" style="visibility:hidden">
	<span class="lbl">Weather Conditions: </span><span class="txt" id="weatherTxt"></span>
	<span class="lbl">Temperature: </span><span class="txt" id="tempTxt"></span>
</div>
<div id="localNewsInfoCont" style="visibility:hidden">
	<h3>Local News of the Day</h3>
	<div id="localNewsInfo"></div>
</div>
<script>
//TODO onload, hide the ul list if there are no past queries.
	console.log("The sound of Crickets");
	document.getElementById("getInfoBtn").addEventListener("click", function(){
		var request = new XMLHttpRequest();
   	 
    	request.onreadystatechange = function() {

    	  if(request.readyState === 4 && request.status === 200) {
        	  //Note: I did not come up with the reg expressions below.	
    	      var location = JSON.parse(request.response).locInfo; //TODO, send back several objects
    	      document.getElementById("cityTxt").innerHTML = location.city;
    	      document.getElementById("postalCodeTxt").innerHTML = location.postalCode;
    	      document.getElementById("countryTxt").innerHTML = location.country;
    	      document.getElementById("latTxt").innerHTML = location.latitude;
    	      document.getElementById("longTxt").innerHTML = location.longitude;
    	      document.getElementById("locInfo").style.visibility = 'visible';
    	      
    	      var weather = JSON.parse(request.response).weatherInfo;
    	      document.getElementById("weatherTxt").innerHTML = weather.status;
    	      document.getElementById("tempTxt").innerHTML = weather.Temperature;
    	      document.getElementById("weatherInfo").style.visibility = 'visible';
    	      
    	      var newsArticles = JSON.parse(request.response).news;
    	      document.getElementById("localNewsInfo").innerHTML = "";
    	      for(var i = 0; i < newsArticles.length; i++){
    	    	  document.getElementById("localNewsInfo").innerHTML += "<a class=\"articleTitle\" href=\"" + newsArticles[i]['url'] +"\">"  + newsArticles[i]['title'] + "</a>" + "<br />"
    	      }
    	      if(newsArticles.length > 0){
    	      	document.getElementById("localNewsInfoCont").style.visibility = 'visible';
    	      }
    	      //TODO update session object here
    	    } 
    	}
    	//Check session object here
 	    var strExp6 = "^((?:[0-9A-Fa-f]{1,4}))((?::[0-9A-Fa-f]{1,4}))*::((?:[0-9A-Fa-f]{1,4}))((?::[0-9A-Fa-f]{1,4}))*|((?:[0-9A-Fa-f]{1,4}))((?::[0-9A-Fa-f]{1,4})){7}$";
    	var regExp6 = new RegExp(strExp6);
    	var strExp4 = "^([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\\.([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\\.([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\\.([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])$";
    	var regExp4 = new RegExp(strExp4);
    	console.log("hello?");
    	if(regExp6.test(document.getElementById("ipTxt").value) || regExp4.test(document.getElementById("ipTxt").value)){
    		var finalUrl = "{% url 'ip' %}" + "?address=" + document.getElementById("ipTxt").value;
    		request.open('GET', finalUrl, true);
    		request.send();
    		document.getElementById("errMsg").style.visibility = 'hidden';
    	}else{
    		document.getElementById("errMsg").innerHTML = "Please provide a valid IP address";
    		document.getElementById("errMsg").style.visibility = 'visible';
    		document.getElementById("errMsg").style.color = 'red';
    		console.log("failed correctly");
    	}
	});
	 
</script>